/* Fonts */
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v25-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/oswald-v49-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/oswald-v49-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Common */
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #060D10;
}

h1,
h2,
strong,
.lead-text {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.btn {
  color: #060D10;
}

/* Header */
header {
  background-color: #66D1FF;
}

header .btn {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

.phone {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-decoration: none;
  color: #060D10;
}

/* About */
.about {
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #060D10;
}

.about-title {
  font-size: 60px;
  line-height: 89px;
}

.about-text {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
}

/* Advantages */
.advantages {
  background-color: rgba(102, 209, 255, .1);
}

.advantages-list-title,
.lead-text {
  font-size: 48px;
  line-height: 167%;
}

.advantages-title {
  font-size: 32px;
  line-height: 167%;
}

.advatages-text {
  font-size: 26px;
  line-height: 140%;
  opacity: 0.8;
}

/* Lead */
.lead {
  background: linear-gradient(208.35deg, rgba(102, 209, 255, 0.1) 43.85%, rgba(196, 196, 196, 0) 43.86%);
  mix-blend-mode: normal;
}

div.lead .btn {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  border: 3px solid #060D10;
  border-radius: 4px;
  background-color: rgba(196, 196, 196, 0);
}

/* Footer */
.footer {
  background-color: #060D10;
  color:#FFFFFF;
}
.footer-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 167%;
}

.copyright {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
